
@model HaiSan.Ulti.PaginatedList<HaiSan.Models.Pure.Sanpham>;
@{ 
    string key = ViewData["Key"] as string;
}

<div class="container">
    <div class="row">
        <br />
        <br />

        <h1>KẾT QUẢ TÌM KIẾM: @key</h1>
        @foreach (var e in Model)
        {
            <div class="col-md-3">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="/assets/img/@e.Img">
                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-success text-white mt-2" href="/products/detail?prodId=@e.MaSp"><i class="far fa-eye"></i></a></li>
                                <li><button class="btn btn-success text-white mt-2" onclick="addCart('@e.MaSp', 1)"><i class="fas fa-cart-plus"></i></button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/products/detail?prodId=@e.MaSp" class="h3 text-decoration-none">@e.Title</a>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <p class="text-center mb-0">@e.Gia.ToString("0,0") đ</p>
                    </div>
                </div>
            </div>
        }

    </div>
    <div div="row">
        <p>Have @Model.TotalPages page here!</p>
        <ul class="pagination pagination-lg justify-content-end">
            @if (Model.HasPreviousPage)
            {
                var pre = Model.PageIndex - 1;
                <li class="page-item">
                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0" asp-action="search" asp-controller="products" asp-route-key="@key" asp-route-page="@pre"><i class="fas fa-chevron-left"></i></a>
                </li>
            }

            <li class="page-item disabled">
                <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0">@Model.PageIndex</a>
            </li>

            @if (Model.HasNextPage)
            {
                var next = Model.PageIndex + 1;

                <li class="page-item">
                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0"asp-action="search" asp-controller="products" asp-route-key="@key" asp-route-page="@next"><i class="fas fa-chevron-right"></i></a>
                </li>
            }
        </ul>
    </div>
</div>