@{ Layout = "_Manager"; }
@model List<HaiSan.Models.View.GioHangModel>
@section Link {
    <!-- Custom fonts for this template -->
    <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@section scripts {
    <script src="/admin/js/demo/datatables-demo.js"></script>
    <script>
        function delBuyProd(gh, masp) {
            if (!confirm("Xác nhận xóa?")) return;
            var data = { Id: gh, MaSp: masp };
            $.ajax({
                url: '/cart/removeItem',
                type: "post",
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: 'json',
                success: function (result) {
                    $('#tbContent').empty();
                    $('#tbModal').modal('show');
                    var str = '<i class="fa fa-check text-success" style="font-size: 60px;"></i>'
                        + '<h2 class="text-success">Xóa thành công</h2>';
                    if (result == false) {
                        str = '<i class="fa fa-times text-warning" style="font-size: 60px;"></i>'
                            + '<h2 class="text-warning">Xóa thất bại</h2>';
                    }

                    $('#tbContent').append(str);
                    $("#tbModal").on("hidden.bs.modal", function () {
                        // put your default event here
                        location.reload();
                    });
                }
            });
        }
        function delGioHang(id) {
            if (!confirm("Xác nhận xóa?")) return;
            var data = { Id: id };
            $.ajax({
                url: '/cart/removeGioHang',
                type: "post",
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: 'json',
                success: function (result) {
                    $('#tbContent').empty();
                    $('#tbModal').modal('show');
                    var str = '<i class="fa fa-check text-success" style="font-size: 60px;"></i>'
                        + '<h2 class="text-success">Xóa thành công</h2>';
                    if (result == false) {
                        str = '<i class="fa fa-times text-warning" style="font-size: 60px;"></i>'
                            + '<h2 class="text-warning">Xóa thất bại</h2>';
                    }

                    $('#tbContent').append(str);
                    $("#tbModal").on("hidden.bs.modal", function () {
                        // put your default event here
                        location.reload();
                    });
                }
            });
        }
    </script>
}

<div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <div class="form-inline">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
                    <img class="img-profile rounded-circle" src="/admin/img/undraw_profile.svg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-controller="user" asp-action="logout" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>

        </ul>

    </nav>
    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Danh sách sản phẩm của bạn</h1>
        <hr class="sidebar-divider">
        @if(Model.Count == 0) { 
            <h1>Bạn không có đơn hàng nào! <a asp-action="all" asp-controller="products">Mua sắm ngay!</a></h1>
        }
        <div class="accordion" id="accordionExample">
            @foreach (var e in Model) { 
                <div class="card">
                    <div class="card-header" id="@("heading" + e.IdGioHang)">
                        <h2 class="mb-0">
                            <div class="d-flex list-group-item list-group-item-action" style="border-radius: 5px;">
                                <div class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#@("collapse" + e.IdGioHang)" aria-expanded="false" aria-controls="@("collapse" + e.IdGioHang)">
                                    <div>
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">Mã giao dịch: @e.IdGioHang</h5>
                                            <small>@(Math.Floor((DateTime.Now - e.DateCreated).TotalDays) + " ngày trước")</small>
                                        </div>
                                        <p class="mb-1">Địa chỉ nhận: @e.Location</p>
                                        <p class="mb-1">SĐT: @e.Phone</p>
                                        <small>Trạng thái: @(e.Status == 0 ? "Đang xử lý" : @e.Status == 1 ? "Đang giao": @e.Status == 2 ? "Hoàn thành" : "Bị hủy")</small>
                                    </div>
                                </div>
                                <span class="text-danger pt-5" onclick="delGioHang('@e.IdGioHang')"><i class="fa fa-trash"></i></span>
                            </div>
                        </h2>
                    </div>
                    <div id="@("collapse" + e.IdGioHang)" class="collapse" aria-labelledby="@("heading" + e.IdGioHang)" data-parent="#accordionExample">
                        <div class="card-body" style="height: 60vh; overflow-y: scroll;">
                            @foreach (var p in e.Products)
                            {
                                <hr>
                                <div class="row m-1 p-1">
                                    <div class="col-md-1">
                                        <a href="#"><img src="/assets/img/@p.MaSP.Img" class="w-100" alt="123"></a>
                                    </div>
                                    <div class="col-md-10 d-flex justify-content-between">
                                        <div>
                                            <h5 class="m-0">@p.MaSP.Title</h5>
                                            <p class="m-0">@p.MaSP.Ten</p>
                                            <p class="m-0">Số lượng mua x @p.Sl</p>
                                        </div>
                                        <h5 class="center-vertical">@p.MaSP.Gia.ToString("0,0") đ</h5>
                                    </div>
                                    <div class="col-md-1 mt-5">
                                        <span href="" onclick="delBuyProd('@e.IdGioHang', '@p.MaSP.MaSp')"><i class="fa fa-trash text-danger"></i></span>
                                    </div>
                                </div>
                                }
                        </div>
                    </div>
                </div>
                }
            </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- Modal -->
<div class="modal fade" id="tbModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div id="tbContent">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
